# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

#cache folder
.cache 
# Environment variables
.env

# IDEs
.vscode/


# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log
*.txt

# Testing / cache
.pytest_cache/
.mypy_cache/

# Jupyter
.ipynb_checkpoints/


# Database files
*.db
*.duckdb
# Temporary files
tmp/
temp/

#DATA
storage/data
__pycache__/
*.pyc
